.life_care_project_donor_profile {
  padding: 0 40px;
  max-width: 1080px;
  margin: auto;
  min-height: 30vh;
  @include breakpoints(tablet) {
    padding: 0 50px;
    min-height: 70vh;
  }
  @include breakpoints(mdlgMobile) {
    padding: 0 10px;
  }
  padding: 50px 10px;
  display: flex;
  @include breakpoints(miniSemiTablet) {
    flex-direction: column;
  }
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  .life_care_project_donor_profile_left {
    padding: 10px 30px;
    width: 300px;
    // background-color: rgb(116, 116, 185);
    .profile_image {
      margin: 20px 0px;
      position: relative;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      .blood_group {
        position: absolute;
        right: 40px;
        bottom: 17px;
        text-transform: capitalize;
        padding: 6px 7px;
        font-size: 20px;
        background-color: #cf3c3ca9;
        color: #fff;
        border-radius: 50%;
      }
    }
    .profile_heading {
      margin-top: 10px;
      h3 {
        font-size: 22px;
        text-transform: capitalize;
        color: #000;
      }
      p {
        color: #000;
        font-size: 18px;
        text-transform: capitalize;
      }
    }
    .profile_title {
      p {
        color: #000;
        font-size: 16px;
        text-align: left;
        .blood {
          color: #9e0f0fd0;
          font-size: 20px;
        }
        .Not_eligible {
          color: #9e2121a9;
        }
        .eligible {
          color: #5dbd6a;
        }
      }
    }
    .profile_details {
      padding-top: 30px;
      h4 {
        font-size: 20px;
        font-weight: 900;
        color: #9e2121a9;
        text-decoration: underline;
      }
      p {
        font-size: 18px;
        font-weight: 800;
        color: #000;
        span {
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
  .life_care_project_donor_profile_right {
    flex-grow: 3;
    flex-shrink: 2;
    // background-color: rgb(204, 97, 97);
    padding: 10px 30px;
    color: #000;
    .profile_send_message {
      width: 100%;
      form {
        .text_area textarea {
          width: 100%;
          padding: 10px 8px;
          border: none;
          outline: none;
          border-radius: 3px;
          color: #000;
          background-color: rgb(255, 255, 255);
          margin-bottom: 5px;
          margin-top: 10px;
          text-align: left;
          font-size: 12px;
          font-family: $font-family;
          border: 2px solid #969393;
          height: 100px;
          resize: vertical;
          &:focus {
            background-color: rgba(124, 124, 124, 0.37);
            color: #000000;
          }
          &:active {
            background-color: rgba(236, 168, 168, 0.425);
            color: #000000;
          }
          &::placeholder {
            text-transform: uppercase;
            color: #0a0a0a;
            font-size: 11px;
          }
        }
        .text_area_subject textarea {
          height: 20px !important;
        }
        .submit_btn {
          background-color: #7b5eea;
          padding: 10px 12px;
          width: 140px;
          border-radius: 3px;
          border: none;
          font-size: 15px;
          font-weight: 600;
          text-transform: capitalize;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          margin-top: 5px !important;
          &:hover {
            background-color: #7b5eeaa6;
            box-shadow: 0 5px 5px 0 rgb(82 63 105 / 5%);
          }
          @include breakpoints(largeMobile) {
            width: 100%;
          }
        }
      }
    }
    .last_donor_info {
      margin-top: 10px !important;
      background-color: #5dbd6a;
      padding: 10px;
      h1 {
        // margin-top: 30px !important;
        text-transform: capitalize;
      }
    }
  }
}
