@import "../../abstract/variables";
@import "../../responsive/breakpoints";
.faq_wrapper {
  margin-top: 100px;
  .faq_content {
    .title {
      margin: 30px 0;
      text-align: center;
      h2 {
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 600;
        color: #000;
        @include breakpoints(tablet) {
          font-size: 25px;
        }
      }
    }
    .faq_accordion_lists {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 30px !important;
      @include breakpoints(tablet) {
        width: 100%;
      }
      .faq_accordion_card {
        border: 1px solid #6d7380;
        margin: 10px 0;
        .ques {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          user-select: none;
          padding: 15px 9px;
          h2 {
            font-size: 17px;
            color: #000;
            @include breakpoints(largeMobile) {
              font-size: 14px;
            }
          }
        }
        .ans {
          padding: 0px 9px 10px 9px;
          margin-top: 10px !important;
          p {
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
  }
}
